* {
  font-family: Roboto, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1, h3, h6 {
  padding: 1rem;
  font-family: 400 Roboto, Arial, sans-serif;
  text-align: center;
}

h6 {
  padding: 1rem;
  font-family: 400 Roboto, Arial, sans-serif;
}

p {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

form {
  padding: 0.5rem;
}

thead {
    background-color: rgba(79, 147, 226, 0.7);
}

.App {
  background-image: url('./scaleth.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: sticky;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

.btn {
  min-width: 10vw;
  padding: 0.5rem;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.col {
  max-width: 50vw;
  padding: 1rem;
  margin: 0.5rem;
}

.row, .flex-row {
  max-width: 99vw;
  padding-top: 1rem;
}

.Entry {
  background-color: rgba(255, 255, 255, 0.80);
}

.Search {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 40vw;
  text-align: right;
}

.typelogo {
  width: 50vw;
  height: auto;
  padding: 2rem;
}

.blue-bg {
  color: rgba(79, 147, 226, 0.7);
  border-radius: 4rem;
  justify-content: center;
  text-align: center;
}

.qr-code {
  width: 25vw;
  height: auto;
  padding: 0.5rem;
}
