* {
  font-family: Roboto, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: rgb(79, 147, 226);
  text-decoration: underline;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  padding: 1rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 200;
  text-align: center;
}

h4, h6 {
  padding: 0.5rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 200;
  text-align: center;
}

hr {
  background-color: white;
}

p {
  display: block;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
}

form {
  padding: 0.5rem;
}

thead {
    background-color: rgba(79, 147, 226, 0.7);
}

.App {
  background-image: url('./scaleth.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: sticky;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

.btn {
  min-width: 10vw;
  padding: 0.5rem;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.col {
  max-width: 50vw;
  margin: 0rem, 2.5rem, 2rem, 2.5rem;
}

.row, .flex-row {
  max-width: 99vw;
  padding-bottom: 1rem;
}

.Entry {
  background-color: rgba(255, 255, 255, 0.80);
}

.Search {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 40vw;
  text-align: right;
}

.typelogo {
  width: 50vw;
  height: auto;
  padding: 0rem 2rem 2rem 2rem;
}

.donationColumn {
  background-color: rgba(79, 147, 226, 0.7);
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4rem;
  justify-content: center;
  text-align: center;
}

.introColumn {

}

.qr-code {
  width: 25vw;
  height: auto;
  padding: 0.5rem;
}
