* {
  font-family: Roboto, Arial, sans-serif;
}

h1, h3, h6 {
  padding: 1rem;
  font-family: 400 Roboto, Arial, sans-serif;
  text-align: center;
}

h6 {
  padding: 1rem;
  font-family: 400 Roboto, Arial, sans-serif;
}

p {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

form {
  min-width: 40vw;
  padding: 0.5rem;
}

thead {
    background-color: rgba(79, 147, 226, 0.7);
}

.App {
  background-image: url('./scaleth.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

.btn {
  min-width: 10vw;
  padding: 0.5rem;
}

.container-fluid {
  max-width: 95vw;
  padding: 0px;
}

.col {
  padding: 1rem;
}

.row, .flex-row {
  max-width: 100vw;
  padding-top: 1rem;
}



.Entry {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.80);
}

.Search {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 40vw;
  text-align: right;
}

.typelogo {
  width: 40vw;
  height: auto;
  padding: 2rem;
  margin-left: 30vw;
  margin-right: auto;
}

.blue-bg {
  background-color: rgba(79, 147, 226, 0.7);
  border-radius: 1rem;
  color: rgb(255, 255, 255);
}
